.services {
    margin-top: -130px;
    padding: 60px 0;
            
    width: 100%;
    position: relative;
  }
  
  .services-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-a;
    gap: 10px;
    overflow-x: auto; /* allows scrolling on small screens */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    width: 100%;
    -webkit-overflow-scrolling: touch;
    
  }
  
  .services-row::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
  .services .item {
    /* background-color: #e3d7f5; */
    background: fixed linear-gradient( to bottom , #610094,black);
    border-radius: 20px;
    color:white;
    padding: 30px;
    min-width: 250px;
    flex: 1;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .services .item:hover {
    transform: translateY(-10px);
  }
  
  .services .item .icon img {
    max-width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .services .item h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    color:white ;
  }
  
  .services .item p {
    color: whitesmoke;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .scroll-snap-x .item {
    scroll-snap-align: start;
  }
  
  /* @media screen and (max-width: 768px) {
    .services-row {
      grid-template-rows: (repeat(auto-fill, minmax(500px, 1fr)));
    }
  
    .services .item {
      margin-bottom: 20px;
    }
     */
  @media screen and (max-width: 768px) {
  .services-row {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .services .item {
    flex: 0 0 100%; /* each card takes full width */
    max-width: 100%; /* make sure it spans the screen */
    scroll-snap-align: center;
    margin-right: 10px; /* small spacing between cards */
  }
}