section.apply-now {
  background: fixed linear-gradient( 75deg , #610094, black);
  padding: 140px 0px;
}

section.apply-now .item {
  background: fixed linear-gradient( to bottom , #610094, black);
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

section.apply-now .item h3 {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

section.apply-now .item p {
  color: whitesmoke;
  margin-bottom: 20px;
}

.why-choose-us {
  text-align: center;
  margin-top: 40px;
}

.why-choose-us h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color:white;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.feature-box {
  background: fixed linear-gradient( to bottom , #610094, black);
  padding: 20px;
  border-radius: 12px;
   /* ✅ added border */
  box-shadow: 20px 4px 8px rgba(0,0,0,0.05);
  transition: 0.3s ease;
  cursor: pointer;
}

.feature-box:hover {
  transform: scale(1.03);
}

.feature-box .icon {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.feature-box h4 {
  font-size: 20px;
  margin-bottom: 8px;
  color: white;
}

.feature-box p {
  color:whitesmoke;
}

/* .main-button-red {
 width:10%; 
  justify-content: center;
  margin-top: 40px;

  color: white;
}
.main-button-red:hover {
  color: white;
} */

.mat-raised-button {
  background-color: #610094;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 20%;
  justify-items: space-around;
  margin-left: 40%;
  align-self: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px #610094;
}

.mat-raised-button:hover {
  background-color: black;
}