<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <!-- Company Info Section -->
      <div class="company-info">
        <div class="logo">
          <img src="assets/navi-logo.png" alt="tech">
          <h3>TECH JEDDAH</h3>
        </div>
        <p>
          TechJeddah is an institute dedicated to tech education, Web Development &  IT fields. We also provide consultancy and career counseling in technology to assist individuals in advancing their professional journeys.
        </p>
      </div>

      <!-- Quick Links Section -->
      <div class="quick-links">
        <h4>QUICK LINKS</h4>
        <ul>
          <ul>
            <li>
              <i class="fas fa-chevron-right"></i>
              <a href="/about-us">About</a>
            </li>
            <li>
              <i class="fas fa-chevron-right"></i>
              <a href="/courses">Courses</a>
            </li>
            <li>
              <i class="fas fa-chevron-right"></i>
              <a href="team">Mentors</a>
            </li>
            <li>
             <i class="fa fa-terminal" aria-hidden="true"></i> 
             <a href="/terms"> Terms & Conditions</a>
            </li>
            <!-- Add more links as needed -->
          </ul>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="contact-us">
        <h4>CONTACT US</h4>
        <ul>
          <li>
            <i class="far fa-envelope"></i>
            <a href="mailto:connect.techjeddah@gmail.com">connect.techjeddah@gmail.com</a>
          </li>
          <li>
            <i class="fas fa-phone-alt"></i>
            <a href="tel:+923134143474">+966 599687073</a>
          </li>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <span>AL-Azzizyah ,jeddah , KSA</span>
          </li>
        </ul>
        
        <!-- Social Links -->
        <div class="social-links">
          <a *ngFor="let social of socialLinks" [href]="social.url" target="_blank" class="social-icon">
            <i [class]="social.icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Floating WhatsApp Button -->
  <a href="https://wa.me/+966599687073" class="whatsapp-float">
    <i class="fab fa-whatsapp"></i>
  </a>
</footer>