

<section class="section main-banner" id="top" data-section="section1"   >
    <video autoplay muted loop id="bg-video" >
      <source src="../../../assets//techjeddah.mp4" type="video/mp4" />
    </video>
  
    <div class="video-overlay header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption">
              <h6>Hello everyone</h6>
              <h2>Welcome to TechJeddah</h2>
              <p>Your trusted platform for interactive and modern learning experiences.
                <p>Designed for students, educators, and institutions, EduLive offers a seamless virtual classroom environment, real-time collaboration tools, and a professional community of learners.</p> 
              <div class="main-button-red">
                <div class="scroll-to-section"><a routerLink="/" fragment="contact">Join Us Now!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>