/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: linear-gradient( 75deg , #610094, black); }

.tab-icon {
    width: 200%;
    height: 200%;
    margin: 0 auto;
    display: block;
}